<br>
<br>
<br>

<div class="align-item-center ">
    <div class="row margin-top ">
        <div class="card text-white bg-info mb-3 col px-md-5" style="max-width: 88rem;">
            <div class="card-header text-center">Clientes</div>
            <div class="card-body">
                <h5 class="card-title center text-center">Informacion</h5>
                <p class="card-text text-center">Acá encontrarás la informacion de los clientes</p>
            </div>
        </div>
        <dx-button [routerLink]="['/clientes']" text="Clientes" class="btn-primary float-end"></dx-button>
        <br>
        <br>
        <dx-button [routerLink]="['/crearclientes']" text="Crear Cliente" class="btn-success float-end"></dx-button>

    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="card text-white ml-5 bg-info mb-3" style="max-width: 88rem;">
            <div class="card-header text-center">Productos</div>
            <div class="card-body">
                <h5 class="card-title text-center">Informacion</h5>
                <p class="card-text text-center">Acá encontrarás la informacion de los productos</p>
            </div>
        </div>
        <dx-button [routerLink]="['/productos']" text="Productos" class="btn-primary float-end"></dx-button>
        <br>
        <dx-button [routerLink]="['/crearProducto']" text="Crear Producto" class="btn-success float-end"></dx-button>

    </div>

</div>