<div class="row mt-3">
    <div class="col-lg-6">
        <h3>listado de Productos</h3>
    </div>

</div>

<table *ngIf="listComentarios.length > 0" class="table table-hover mt-3">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Precio</td>
            <td>Cantidad</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of listComentarios">
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.cantidad }}</td>
            <td style="width: 10%;"><dx-button  [routerLink]="['/editar',producto.id]" class="btn-primary btn-sm float-end">Editar</dx-button></td>
            <td style="width: 10%;">
                <dx-button (click)="eliminarDato(producto.id)" text="Eliminar" class="btn-danger float-end"></dx-button>
            </td>
        </tr>
    </tbody>
</table>
<div class="col-lg-6">
    <!-- <a [routerLink]="['/agregar']"><button class="btn btn-primary float-end">Nuevo comentario</button></a> -->
    <dx-button [routerLink]="['producto']" text="Volver" class="btn-primary float-end"></dx-button>
</div>
<div *ngIf="listComentarios.length === 0" class="row mt-5">
    <h3>No hay nada que mostrar</h3>
</div>