<div class="row mt-3">
    <div class="col-lg-6">
        <h3>listado de Clientes</h3>
    </div>

</div>

<table *ngIf="listComentarios.length > 0" class="table table-hover mt-3">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Cedula</td>
            <td>Fecha De Nacimiento</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of listComentarios">
            <td>{{producto.nombre}}</td>
            <td>{{producto.apellido}}</td>
            <td>{{producto.cedula}}</td>
            <td>{{producto.fecha_nacimiento | date:'dd/MM/yyyy'}}</td>
            <td style="width: 10%;">
                <dx-button [routerLink]="['/editar',producto.id]" class="btn-primary btn-sm float-end">Editar
                </dx-button>
            </td>
            <td style="width: 10%;">
                <dx-button (click)="eliminarDato(producto.id)" text="Eliminar" class="btn-danger float-end"></dx-button>

            </td>

        </tr>
    </tbody>
</table>
<div class="col-lg-6">
    <dx-button [routerLink]="['cliente']" text="Volver" class="btn-primary float-end"></dx-button>
    <!-- <a [routerLink]="['/agregar']"><button class="btn btn-primary float-end">Nuevo comentario</button></a> -->
    <!-- <dx-button [routerLink]="['/agregar']" text="Nuevo Producto" class="btn-primary float-end"></dx-button> -->
</div>
<div *ngIf="listComentarios.length === 0" class="row mt-5">
    <h3>No hay nada que mostrar</h3>
</div>