<h3 class="mt-3">{{action}} </h3>
<form [formGroup]="agregarComentario" (ngSubmit)="AddOrEdit()">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input formControlName="nombre" type="text" class="form-control" id="nombre" placeholder="nombre" autocomplete="off">
        <span *ngIf="agregarComentario.get('nombre')?.invalid && agregarComentario.get('nombre')?.touched" class="text-danger">
            El <strong>nombre</strong> es requerido
        </span>
    </div>
    <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input formControlName="apellido"  type="text" class="form-control" id="apellido" placeholder="apellido" autocomplete="off">
        <span *ngIf="agregarComentario.get('apellido')?.invalid && agregarComentario.get('apellido')?.touched" class="text-danger">
            El <strong>Apellido</strong> es requerido
        </span>
    </div>
    <div class="mb-3">
        <label for="cedula" class="form-label">Cedula</label>
        <input formControlName="cedula"  type="number"a class="form-control" id="cedula" placeholder="cedula" autocomplete="off">
        <span *ngIf="agregarComentario.get('cedula')?.invalid && agregarComentario.get('cedula')?.touched" class="text-danger">
            La <strong>cedula</strong> es requerida
        </span>
    </div>
    <button type="button" [routerLink]="['/']" routerLinkActive="router-link-active"  class="btn btn-secondary">Volver</button>
    <button type="submit"[disabled]="agregarComentario.invalid" class="btn btn-primary float-end">Aceptar</button>

</form>
