<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img img [src]="img" alt="" width="100" height="30">  
        Inicio</a>
      
    </div>
  </nav>