<h3 class="mt-3">{{action}} </h3>
<form [formGroup]="agregarComentario" (ngSubmit)="AddOrEdit()">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input formControlName="nombre" type="text" class="form-control" id="nombre" placeholder="nombre" autocomplete="off">
        <span *ngIf="agregarComentario.get('nombre')?.invalid && agregarComentario.get('nombre')?.touched" class="text-danger">
            El <strong>nombre</strong> es requerido
        </span>
    </div>
    <div class="mb-3">
        <label for="precio" class="form-label">Precio</label>
        <input formControlName="precio"  type="number" class="form-control" id="precio" placeholder="precio" autocomplete="off">
        <span *ngIf="agregarComentario.get('precio')?.invalid && agregarComentario.get('precio')?.touched" class="text-danger">
            El <strong>precio</strong> es requerido
        </span>
    </div>
    <div class="mb-3">
        <label for="cantidad" class="form-label">Cantidad</label>
        <input formControlName="cantidad"  type="number"a class="form-control" id="cantidad" placeholder="cantidad" autocomplete="off">
        <span *ngIf="agregarComentario.get('cantidad')?.invalid && agregarComentario.get('cantidad')?.touched" class="text-danger">
            La <strong>cantidad</strong> es requerida
        </span>
    </div>
    <button type="button" [routerLink]="['/']" routerLinkActive="router-link-active"  class="btn btn-secondary">Volver</button>
    <button type="submit"[disabled]="agregarComentario.invalid" class="btn btn-primary float-end">Aceptar</button>

</form>
